*{
    margin: 0;
    padding: 0;
    /* background-color: #16161a; */
    font-family: 'Open Sans', sans-serif;
}

.header{
    min-height: 10vh;
    width: 100%;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: #16161a;
}

nav img{
    width: 80%;
    /* width: 150px; */
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fdf6e3;
    text-decoration: none;
    font-size: 0.875rem;
}

.btn-style{
    background-color: #16161a;
    color: #fdf6e3;
    padding: 0.25rem 0.5rem;
    text-align: center;
    border-radius: 0.375rem;
    border-color: #7f5af0;
    font-size: 0.875rem;
    font-style: medium 500;
    cursor: pointer;
}

.main-body{
    background-image: linear-gradient(90deg,#AF1DF5 -6.11%,#6B57FF 117.87%);
    position: relative;
}

.main-frame{
    /* background-color: #7f5af0; */
    background-image: url(https://doodleipsum.com/800x563/hand-drawn?i=d6e3c18ec376905f2cee92e683359976);
    background-color: rgba(255,255,255,0.3);
    background-repeat: no-repeat;
    background-position: -13% 50%;
    background-blend-mode: lighten;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.main-text{
    position: absolute;
    width: 80%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000000;
}

.main-text h1{
    font-size: 62px;
    font-weight: 700;
}

.main-text p{
    margin: 10px 0 40px;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}

.btn-order-style{
    /* background-color: #16161a; */
    color: #fdf6e3;
    padding: 0.25rem 0.5rem;
    text-align: center;
    border: 1px solid #16161a;
    font-size: 0.875rem;
    font-style: medium 500;
    display: inline-block;
    background: transparent;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}